<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Owl Display Page</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>  </head>
    <link rel="stylesheet" type="text/css" href="/main.css">
  <body>
    <h3>Check out this freaky owl.</h3>
    <h4>Name: <%= owl_data.name %></h4>
    <h4>Age: <%= owl_data.age %></h4>
    <h4>Type: <%= owl_data.type %></h4>
    <h4>Fun Fact: This owl hates you.</h4>
    <a href="/">Well that was a hoot</a>
  </body>
</html>
